

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    text-align: center;
}

.titre{
	font-family:fantasy;
	font-style: italic;
}

.entete {
	max-width:100%;
	height:auto ;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*
    Margin
    margin : 10px; -> HAUT / DROITE / BAS / GAUCHE
    margin: 10px 20px; -> HAUT-BAS : 10px GAUCHE-DROITE : 20px
    */
    padding: 20px 30px;
}

ul {
    /*liste non pas de style*/
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
}

li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li a:hover:after {
    width: 90%;
    background: #444;
}


/** Header */

.user {
    justify-content: flex-end;
}

.menu {
    padding-top: 1.2em;
   	text-align: end;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

nav ul li a {
    letter-spacing: 1px;
    font-weight: bold;
}


.lien3{
	text-decoration: none;
	color: black;
}

.lien3:hover{
	color: red;
}

.header {
	display: flex;
	justify-content: center;
}

.titre {
	display: flex;
}

.dkboost {
	width: 100px;
	height: 100px;
}

.h2 {
	text-align: center;
}

#logo {
	width: 6em;
	display: flex;
}

.garage {
	margin: 10px;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    text-align: center;
}

.image_entete {
	padding: 20px;
	width: 300px;
	height: 200px;
}

.img1 {
	padding: 20px;
	width: 200px;
	height: 150px;
	display: flex;
	justify-content: space-around;
}

.img {
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-wrap: wrap;
	font-style: italic;
}

.item {
	width: 200px;
  	display: inline-block;
  	vertical-align: middle;
  	flex-wrap: wrap;
}

.item1 {
	width: 100px;
  	padding: 20px; 
  	vertical-align: middle;
  	flex-wrap: wrap;

}

.text-wrap {
    text-align: center;
    padding: 2px;
    margin: 10px;
    
}

.card {
     background-color: #FFF;
    margin: 1.125em 1em;
    position: relative;
    max-width: 360px;
    transition: transform 0.50s ease-out;
    box-shadow: 12px 9px 12px 7px rgb(0 0 0 / 20%);
    border: 4px solid #c10202;
    border-radius: 10px 10px 16px 10px;
}

.card:hover {
    transform: scale(1.1);
    color: red;
 
}

.card--blurry {
    transform: translateZ(0);
    will-change: transform;
}

figure {
    background: white;

    margin: 0;
}

.pic {
	max-width: 100%;
	max-height: 100%;
}

.contact_1 {
	background: black;
	justify-content: space-around;
    padding: 20px 30px;
    margin: 20px;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

.maps {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}

.contact {
	color: white;
	margin: 20px;
}

.p
{
	color: black;
	width: 200px;
	text-align: center;
	padding: 5%;
}

.pa{
	text-align: center;
	width: 300px;
}

/*contact*/
.lien {
	text-decoration: none;
	color: black;
	margin-right: 20px;

}

.lien2 {

	color: white;
	text-decoration: !important;
}

.phone {
	text-decoration: !important;
	color: white;
}

/*affiche vo*/
.vo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

.table {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tr {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

td {

}

.td {
	border-right: 2px solid #a90303;
	border-block: 2px solid #a90303;
	display: inline-block;
	margin: 25px;
	box-shadow: 6px 7px 11px -6px;
}

.td:hover {
    transform: scale(1.1);
    color: red;
 
}

.contactez-nous{
	text-align: center;
	justify-content: space-around;
}

.sig{
	text-align: center;
}

.caros {
	text-align: center;
	border-left: 2px solid #a90303;
	border-right: 2px solid #a90303;
	box-shadow: 6px 7px 11px -6px;
	font-style: italic;
}

