* {
    margin: 0;
    padding: 0;    
}

p{
	margin: 10px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.entete {
	max-width:100%;
	height:auto ;
}

.container1 {
	display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px 30px;
    background-color: rgb(11 52 199 / 20%);
    border-radius: 0px 100px 100px 0px;
    text-transform: uppercase;
    margin-right: 45em;
}

.sous_titre{
	text-align: center;
	text-decoration: underline;
}

ul {
    /*liste non pas de style*/
    list-style: none;
}

.ethanol{
	color: #21e121;
}

.ethanol1{
	text-align: center;
	color: #21e121;
}

.ethanol2{
	text-align: center;
	color: #21e121;
	font-size: xxx-large;
}

.etha{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.etha1{
	width: 140px;
}

.def{
	text-align: center;
    color: #38a538;
    width: 80%;
    margin-left: 10%;
}

.def1{
	text-align: center;
    margin-right: 100px;
    font-size: larger;
}

.def2{
	text-align: center;
    margin-left: 100px;
    font-size: larger;
}

a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
}

li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li a:hover:after {
    width: 90%;
    background: #444;
}


/** Header */

.user {
    justify-content: flex-end;
}

.cont {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.menu {
    padding-top: 1.2em;
   	text-align: end;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

nav ul li a {
    letter-spacing: 1px;
    font-weight: bold;
}


.lien3{
	text-decoration: none;
	color: black;
}

.lien3:hover{
	color: red;
}

.header {
	margin: 0 auto;
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}


.dkboost {
	width: 100px;
	height: 100px;
}

.tittle_centre_auto{
	text-align: center;
	color: red;
}

.prix{
	color: red;
	text-align: center;
}

.h2 {
	text-align: center;
}

.garage {
	width: 50%;
    margin: auto;
    box-shadow: 7px 7px 20px 0px;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;

}

.container5 {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}

.caps{
	width: 5em;
}

.agree {
	width: 9em;

}


.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image_entete {
	padding: 20px;
	width: 300px;
	height: 200px;
}

.img1 {
	padding: 20px;
	
	height: 150px;
	justify-content: space-around;
}


.item {
	width: 200px;
  	display: inline-block;
  	vertical-align: middle;
  	flex-wrap: wrap;
}

.item1 {
	width: 100px;
  	padding: 20px; 
  	vertical-align: middle;
  	flex-wrap: wrap;
}

.lo {
	height: 4em;
}

.text-wrap {
    text-align: center;
    padding: 2px;
    margin: 10px;
    
}

.card {
     background-color: #FFF;
    margin: 1.125em 1em;
    position: relative;
    max-width: 360px;
    transition: transform 0.50s ease-out;
    box-shadow: 4px 3px 20px 0px rgb(0 0 0 / 20%);
    border-radius: 10px 10px 16px 10px;
}

.card:hover {
    transform: scale(1.1);
 
}

.card--blurry {
    transform: translateZ(0);
    will-change: transform;
}

figure {
    margin: 0;
}

.pic {
	max-width: 50%;
	max-height: 100%;
}

#contact_1 {
	background: black;
	justify-content: space-around;
    padding: 20px 30px;
    margin: 20px;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}



.maps {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}

.contact {
	color: white;
	margin: 20px;
}

.p
{
	color: black;
	text-align: center;
	padding: 5%;
	width: 85%;
}

.pa{
	text-align: center;
	width: 300px;
}

.contact_3{
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/*contact*/

.lien_mail{
	color: white;
}

.lien {
	text-decoration: none;
	color: black;
	margin-right: 20px;

}

.lien2 {

	color: white;
	text-decoration: !important;
}

.phone {
	text-decoration: !important;
	color: white;
}

/*affiche vo*/
.vo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

.table {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tr {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

td {

}

.td {
	display: inline-block;
	margin: 25px;
	box-shadow: 6px 7px 11px -6px;
	transition: transform 0.50s ease-out;
	width: 25%;
}

@media (max-width: 1100px) {
  .td {
   	width: 82%;
  }
}

.td:hover {
    transform: scale(1.1);
 
}

.contactez-nous{
	text-align: center;
	justify-content: space-around;
}

.sig{
	text-align: center;
}

.cellule{
	border: 2px solid black;
	width: 50%;
	text-align: center;
}

.cellule1{
	border: 2px solid black;
	width: 50%;
	text-align: center;
	background: linear-gradient(134deg, #3e00fd, #00000080);
	color: aliceblue;

}

.cellule3{
	border: 2px solid black;
	width: 50%;
	text-align: center;
	background: linear-gradient(134deg, #ff7600, #00000080);

}


.titre{
	text-align: center;
	font-size: xx-large;
}

.mobile{
	box-sizing: border-box;
    scroll-behavior: smooth;
}

.menu{
	display: flex;
	justify-content: space-around;
}


.service {
	text-align: center;
}


.detail{
	display: flex;
	margin: 20px;

}

.grille{
	margin: auto;
    box-shadow: 20px 20px 20px -22px;
}

.ligne{
	display: flex;
	flex-wrap: wrap;
}

.text{
	color: #3031328f;
    font-size: small;
}

.critere{
    color: #a71313;
    text-decoration: underline;
    text-align: center;
}


hr {
	width: 50%;
	margin: auto;
}

.trait{ 
	width: 90%;
}

.res{
	text-align: center;
}

#scrollUp{
	position: fixed;
    bottom: 10px;
    right: 	-100px;
    opacity: 0.5;
}

.liste{
	text-align: center;
}

html {
    scroll-behavior: smooth;
}


.pan{
	box-shadow: 15px 0px 12px 0px;
}



img{max-width: 100%}

input[type=radio]{

position: absolute;
left: -9999px

}/*on cache tous les input*/
	
.slider-input label{
	
cursor:pointer/*on pointe tous les labels*/
	
}

.slider-input{

overflow: hidden;
position: relative;
max-width: 600px;
margin: 2rem auto
	
	}


.photos-mini{
	
	
padding-top: 66.67%;/* il s'agit du ratio pour le responsive*/
display: flex;

	}

.miniature{

flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
padding:.25rem;
	
}
	

.fenetre{/*grande photo*/

position: absolute;
top: 0;
left: 0;
transition:transform .6s,opacity .6s;
transform:translatex(-100%);
opacity: 0;
width: 70%;
	
	}

.fen:checked~ .fenetre{
	
transform:translatex(0%);
opacity: 1
	
	}

.figcaption{/*optionnel*/

position: absolute;
top: 0;
left: 0;
padding: .25rem;
transition: opacity .4s;
opacity: 0;
display: flex;
justify-content: center;
color: white;
background: hsla(0,0%,0%,.8)

}

.fen:checked~.figcaption{

opacity: 1
	
	}
	
